.husky
.next
api-server
gitrepo
node_modules
scripts
test
test-clients
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.nvmrc
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
jest.config.js
jest.setup.js
lint-staged.config.js
*.md
