@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bounce-1 {
    animation-delay: 0.1s;
  }

  .bounce-2 {
    animation-delay: 0.2s;
  }

  .bounce-3 {
    animation-delay: 0.3s;
  }
}
